head
  include head.pug

body
  .container(style="width:60%!important")
  .jumbotron.mt-3
    h1 Bulletin App
    - for (var i = res.length - 1; i >= 0; --i) {
      h3 Title: #{res[i].title}
      p.lead Body: #{res[i].body}
    - }
    a.btn.btn-lg.btn-primary(href='/addmessage', role='button') Insert message
