head
  include head.pug

  
body
  .container(style="width:60%!important")
    form.form-signin(action='/post', method='POST')
      h2.form-signin-heading Post to bulletin
      label.sr-only(for='inputEmail') Enter Title
      input#inputEmail.form-control(type='text',name='title', placeholder='Enter Title',)
      label.sr-only(for='inputText') Enter Body
      textarea#inputPassword.form-control(type='text',  name='bodymessage', placeholder='Enter Body', )
    
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Send Post
    a.btn.btn-lg.btn-primary(href='/', role='button') Check List
